ul,ol{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    transition: all .4s ease;
    color: #000;

    &:hover{
        color: #362bc7;
    }
}
a:hover{
    color: #362bc7;
 }
h1 a,h2 a , h3 a, h4 a, h5 a, h6 a{
    color: inherit;
}

/* ====================
Spacing
===================== */
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-70{
    margin-bottom: 70px;
}

/* ====================
Buttons
===================== */
.btn{
    font-family: $heading-font;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2px;
    padding: 20px 35px;
    text-transform: capitalize;
    border: 1px solid transparent;
}

.btn-grey-outline{
    padding: 13px 25px ;
    border-color: #000;
    background: transparent;

    &:hover{
        background: $primary-color;
        color: #fff;
        border-color: $primary-color;
    }
}

.btn-sm{
    padding: 10px 25px;
}