
.header-menu{
    background: #232f3a;
  
}
.main-menu{
    ul{
        li{
            list-style-type: none;
            display: block;
            margin-right: 30px;

            a{
                font-family: $heading-font;
                font-size: 17px;
                font-weight: 700;
            }
        }
    }
}


